@font-face {
  font-family: 'Kalpurush';
  src: url(./Kalpurush.eot);
  src: url(./Kalpurush.eot?#iefix) format('embedded-opentype'),
       url(./Kalpurush.otf) format('otf'),
       url(./Kalpurush.svg#Kalpurush) format('svg'),
       url(./Kalpurush.ttf) format('truetype'),
       url(./Kalpurush.woff) format('woff'),
       url(./Kalpurush.woff2) format('woff2');
       font-weight: normal;
       font-style: normal;
}
